{% extends "layout.html" %}

{% block content %}
<h2>Calculadora de ancho y largo de habitación</h2>
<form method="post">
    <div class="form-group">
        <label for="ancho">Ancho de la habitación:</label>
        <input type="text" class="form-control" id="ancho" name="ancho" required>
    </div>
    <div class="form-group">
        <label for="largo">Largo de la habitación:</label>
        <input type="text" class="form-control" id="largo" name="largo" required>
    </div>
    <button type="submit" class="btn btn-primary">Calcular</button>
</form>
{% if resultado %}
    <p class="mt-3">{{ resultado }}</p>
{% endif %}
{% endblock %}